   
{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
    <h1>Madlibs</h1>
    
    <form action="/story">
       <div>
          <label></label>
          <select name="selected_temp" required>
               <option value="" >-- select a story -- </option>
              {% for temp in templates %}
        
              <option value="{{ temp }}">
                  {{ temp }}
              </option>
              {% endfor %}
          </select>
        </div>
        <div>
            <label>place: </label>
            <input class="input" type="text" name="place" required  />
        </div>
        <div>
            <label>noun: </label>
            <input class="input" type="text" name="noun" required />
        </div>  
        <div>
            <label>verb: </label>
            <input class="input" type="text" name="verb" required />
        </div> 
        <div>
            <label>adjective: </label>
            <input class="input" type="text" name="adjective" required /> 
        </div>
        <div>
            <label>plural_noun: </label>
            <input class="input" type="text" name="plural_noun" required />
        </div>
        <button>Submit</button>
    </form>
{% endblock %}